# environment variables
*.env

# temporary files
*.tmp

# API call logs

*.jsonl
*.db

# cache folder and archive folders
cache/
archive/
prompt_archive/
temp_files/
scratch/

# all pycache folders
__pycache__/

# 